[Unit]
Description=STM Communication Service
After=network.target

[Service]
WorkingDirectory=/home/mdp23/MDP_RPI
ExecStart=/home/mdp23/MDP_RPI/start_stm_comm.sh
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
