[Unit]
Description= STM communation Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/mdp23/root_sys/stm_comm/serial_comm.py
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

